blockquote {
  font-style: italic
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", 
  Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color:#fff;

  font-weight: normal;
  color: #404040;
}

.band .imageOne {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 300px;
  z-index: 5;
}

.band .imageTwo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top:400px;
  left: 90px;
  z-index: 5;
}

.band.full.first {
  height: 300px;
}

.band.full.second {
  height: 300px;
  overflow: hidden;
}

.band.full.third {
  height: 520px;
}

.name {
  position: absolute;
  font-weight: bold;
  font-size: 200%;
  top:550px;
  left: 90px;
}


.band .blurb {
  display: inline-block;
  padding-top:90px;
  padding-left:180px;
  text-align: left;
  font-size: 20px;
}

.gallerySection, .formatSection {
  margin-bottom: 2em;
}

.gallerySection .gallerySectionTitle, .formatSection .formatSectionTitle {
  font-size: 25px;
  font-weight: 300;
}

.gallerySection .galleryIntro {
  margin-bottom: 10px;
}

.gallerySection .galleryItems {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallerySection .galleryItems .galleryItem {
  width: 24%;

  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.gallerySection .galleryItems .galleryItem:hover {

}

.gallerySection .galleryItems .galleryItem .galleryItemLabel {
  display: block;
  cursor: pointer;
  border-top: 1px solid #f0f0f0;
  padding: 10px 10px 5px 10px;
}

.gallerySection .galleryItems .galleryItem .galleryItemImage {
  width: 100%;
  height: auto;
}

.gallerySection .galleryItems .galleryItem .galleryItemDescription {
  font-size: 12px;
  padding: 0px 10px 10px 10px;
}



